<!DOCTYPE HTML>
<html>
<title>Portfolio</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="google" content="notranslate" />
<link rel="stylesheet" href="../public/css/main.css" />
<link rel="shortcut icon" href="../public/images/icons8-laptop-coding-64.png" type="image/png">
<script src='https://www.google.com/recaptcha/api.js'></script>

<body>

	<div id="top-nav">
		<!-- Nav 2-->
		<nav id="nav2">
			<ul>
				<li>
					<div class="wrapper-menu">
						<div class="line-menu half start"></div>
						<div class="line-menu"></div>
						<div class="line-menu half end"></div>
					</div>
				</li>
			</ul>
			<ul class="list-group" id="menu">
				<li class="list-group-item"><a href="/"><span class="icon fa-home"></span></a></li>
				<li class="list-group-item"><a href="/gallery"><span class="icon fa-camera-retro"></span></a></li>
				<li class="list-group-item"><a href="/about" class="active"><span class="icon fa-file-text-o"></span></a></li>
			</ul>
		</nav>
	</div>

	<div class="page-wrap">

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="/"><span class="icon fa-home"></span></a></li>
				<li><a href="/gallery"><span class="icon fa-camera-retro"></span></a></li>
				<li><a href="/about" class="active"><span class="icon fa-file-text-o"></span></a></li>
			</ul>
		</nav>

		<!-- Main -->
		<section id="main">

			<!-- Section -->
			<section>
				<div class="inner">
					<header>
						<h1>Skills</h1>
					</header>
					<h5><strong>Html5 and Css3</strong></h5>

					<p>I have a really good understanding of both Html and Css. There will always be tags that I will learn in the
						future but I have learned the core syntax to both and have made a lot of projects using both.</p>

					<h5><strong>Javascript</strong></h5>

					<p>Javascript was the first programming language I was exposed to. While learning Javascript I learned all the
						basics to programming. I learned loops, if/else, and many more of the functions and data types that go along
						with the language. Javascript is a vast language that has a lot going on. I am continuing to progress in
						Javascript as I go along.</p>

					<h5><strong>Angular</strong></h5>

					<p>I have made quite a few apps using Angular. I took courses and also studied Angular using the Ng Book. Even
						though I have built a few apps using React, Angular was my favorite so I chose to pursue learning it in and out.
						I am familar with almost every aspect of Angular. Including the Cli (Command Line Interface), services, models,
						and more.</p>

					<h5><strong>API's</strong></h5>

					<p>I have worked with many different api's. Through api's I was introduced to taking data from a backend and using
						the data and displaying it to the client.</p>

					<h5><strong>Node.js</strong></h5>

					<p>I have a lot of experience using node. I have built apps from angular to react to this portfolio, which is
						built and rendered using node and express.</p>

					<h5><strong>Asp.Net Core</strong></h5>

					<p>My most recent project involved using this framework. I used .Net Core to access a microsoft sql server to
						build tools for my company.</p>

					<h5><strong>C#</strong></h5>

					<p>I am currently learning more about this language. I have been coding in C# for a few months and so far I am
						picking it up quickly. The current project I am working on is written in C# .Net Core as a backend and I am using
						Angular as the front end.</p>



					{{!-- <h2>A little more about me</h2>
					<p>Scelerisque sagittis magna mi duis iaculis id erat pharetra vestibulum condimentum hac suspendisse tempor leo
						aliquet penatibus parturient donec parturient parturient. Vehicula suspendisse sem a adipiscing est ad donec
						ultricies senectus magnis convallis a fringilla adipiscing vulputate dui elementum diam ipsum eleifend
						condimentum placerat facilisi viverra mollis scelerisque. Commodo cum vestibulum hendrerit sit condimentum at
						rutrum vulputate scelerisque erat convallis himenaeos consequat a hac ultrices nam vel suspendisse nascetur
						dictum vulputate sed at.</p> --}}
					<section class="columns double">
						<div class="column">
							<span class="image left special"><img src="../public/images/cyndia.png" alt="" /></span>
							<h3>My Wife</h3>
							<p>This is my wife Cyndia. I met my wonderful wife when I was just getting into my teenage years and after a few
								years of not talking we began to rekindle and become even closer than before. She is so wonderful and I
								wouldn't
								trade her for anything in the world. </p>
						</div>
						<div class="column">
							<span class="image left special"><img src="../public/images/Koleson.png" alt="" /></span>
							<h3>My Son</h3>
							<p>This is my son Koleson. Koleson was born at just 23 weeks on July 6th 2017. Everything went great and he was
								put into the NICU where he spent several months. He is continuing to grow and progress and just recently
								started walking!</p>
						</div>
					</section>
				</div>
			</section>

			<!-- Contact -->
			<section id="contact">
				<!-- Social -->
				<div class="social column">
					<h3>About Me</h3>
					<small>
						<bold>Skills</bold>
					</small>
					<p>My name is Jonathan. I am a self taught web developer. I have been actively studying code for almost two years
						now. I
						started out learning just the basics with Html5 and Css3 and have progressed into Js and larger frameworks such
						as Angular. I also have studied back end devlopment. I have made apps in node.js and .Net core. Despite learning
						all of these technologies I am still not satisfied. I am constantly learning new things and progressing.</p>
					<small>
						<bold>My Personal Life</bold>
					</small>
					<p>Aside from coding, I have a wife and son. I enjoy watching horror movies and <span class="red">ALOT</span> of
						Youtube. As far as music goes I listen to pretty much anything. I have played drums for almost 8 years and guitar
						for about 4 years. I also love reading. I mostly read thrillers but I am always looking for tech books. That is a
						little about me. If you would like to get in contact with me visit my social media or fill out the form to the
						right to send me a message! </p>
					<h3>Follow Me</h3>
					<ul class="icons">
						<li><a href="https://twitter.com/Jmoney0145" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/Drumminforlife" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/baseballsuperstar11/" target="_blank" class="icon fa-instagram"><span
								 class="label">Instagram</span></a></li>
					</ul>
				</div>

				<!-- Form -->
				<div class="column">
					<h3>Get in Touch</h3>
					<div class="error" id="msg">
						<p class="alert alert-error radius" id=""></p>
					</div>
					<form action="/send" method="POST" id="sendForm" name="form1">
						<div class="field half first">
							<label for="name">Name <span class="salmon">*</span></label>
							<input name="name" id="name" type="text" placeholder="Name" value="{{name}}" required>
						</div>
						<div class="field half">
							<label for="email">Email <span class="salmon">*</span></label>
							<input name="email" id="email" type="email" placeholder="Email" {{email}} required>
						</div>
						<div class="field">
							<label for="message">Message <span class="salmon">*</span></label>
							<textarea name="message" id="message" rows="6" placeholder="Message" required></textarea {{message}}>
						</div>
						<ul class="actions">
							<li>
								<div class="g-recaptcha" data-sitekey="6Ldtn38UAAAAACHR-mwP51ojzA9sjmmk4kw8kZMD"></div>
							</li>
							<li><input value="Send Message" class="button" type="submit"></li>
						</ul>
					</form>
				</div>

						</section>

					<!-- Footer -->
						<footer id="footer">
				<div class="copyright">
					&copy;<a href="https://www.emerywd.com/">Emery Wed Design</a>.
				</div>
			</footer>
				</section>
		</div>

		<!-- Scripts -->
			<script src="../public/js/jquery.min.js"></script>
			<script src="../public/js/jquery.poptrox.min.js"></script>
			<script src="../public/js/jquery.scrolly.min.js"></script>
			<script src="../public/js/skel.min.js"></script>
			<script src="../public/js/util.js"></script>
			<script src="../public/js/main.js"></script>

	</body>
</html>