<!DOCTYPE HTML>
<html>
<title>Portfolio</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="google" content="notranslate" />
<link rel="stylesheet" href="../public/css/main.css" />
<link rel="shortcut icon" href="../public/images/icons8-laptop-coding-64.png" type="image/png">
<script src='https://www.google.com/recaptcha/api.js'></script>

<body>

	<div id="top-nav">
		<!-- Nav 2-->
		<nav id="nav2">
			<ul>
				<li>
					<div class="wrapper-menu">
						<div class="line-menu half start"></div>
						<div class="line-menu"></div>
						<div class="line-menu half end"></div>
					</div>
				</li>
			</ul>
			<ul class="list-group" id="menu">
				<li class="list-group-item"><a href="/"><span class="icon fa-home"></span></a></li>
				<li class="list-group-item"><a href="/gallery" class="active"><span class="icon fa-camera-retro"></span></a></li>
				<li class="list-group-item"><a href="/about"><span class="icon fa-file-text-o"></span></a></li>
			</ul>
		</nav>
	</div>

	<div class="page-wrap">

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="/"><span class="icon fa-home"></span></a></li>
				<li><a href="/gallery" class="active"><span class="icon fa-camera-retro"></span></a></li>
				<li><a href="/about"><span class="icon fa-file-text-o"></span></a></li>
			</ul>
		</nav>

		<!-- Main -->
		<section id="main">

			<!-- Gallery -->
			<section id="galleries">

				<!-- Photo Galleries -->
				<div class="gallery">

					<!-- Filters -->
					<header>
						<h1>Gallery</h1>
						<ul class="tabs" id="buttons">
							<li><a href="#" data-tag="all" class="button active all">All</a></li>
							<li><a href="#" data-tag="web" class="button web">Web</a></li>
							<li><a href="#" data-tag="app" class="button app">App</a></li>
							<li><a href="#" data-tag="other" class="button other">Other</a></li>
						</ul>
					</header>

					<div class="content">
						<div class="media all  app">
							<a href="../public/images/fulls/angular-redit.png"><img src="../public/images/thumbs/angular-redit.png" alt=""
								 title="This app was made using the Ng Book. This was the very first app I built using angular." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/beach.png"><img src="../public/images/thumbs/beach.png" alt="" title="This was a full screen landing page I built while learning about view port height in css." /></a>
						</div>
						<div class="media all other">
							<a href="../public/images/fulls/gifsearcher.png"><img src="../public/images/thumbs/gifsearcher.png" alt="" title="This was a little web project where I used an api to return gifs." /></a>
						</div>
						<div class="media all other">
							<a href="../public/images/fulls/gifsearcher1.png"><img src="../public/images/thumbs/gifsearcher1.png" alt=""
								 title="This is showing the result for when you search for a gif." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/hosting.png"><img src="../public/images/thumbs/hosting.png" alt="" title="This was built when I was learning css grid." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/hosting1.png"><img src="../public/images/thumbs/hosting1.png" alt="" title="This was built when I was learning css grid." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/hosting2.png"><img src="../public/images/thumbs/hosting2.png" alt="" title="This was built when I was learning css grid." /></a>
						</div>
						<div class="media all other">
							<a href="../public/images/fulls/movie.png"><img src="../public/images/thumbs/movie.png" alt="" title="This was built while learning how to process data returned from an api." /></a>
						</div>
						<div class="media all other">
							<a href="../public/images/fulls/movie1.png"><img src="../public/images/thumbs/movie1.png" alt="" title="This is the result for when you search for a movie." /></a>
						</div>
						<div class="media all other">
							<a href="../public/images/fulls/nytimes.png"><img src="../public/images/thumbs/nytimes.png" alt="" title="This was another api project where you are able to search for articles using the NY Times api." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/address.png"><img src="../public/images/thumbs/address.png" alt="" title="This was a tool I made for the company I currently work for. Combining three different apis, you can search Bing, Google and Mapquest." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/address1.png"><img src="../public/images/thumbs/address1.png" alt="" title="This is data returned from the Google api that shows information about a certain address." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/address2.png"><img src="../public/images/thumbs/address2.png" alt="" title="This shows the map of the address that was searched." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/blog.png"><img src="../public/images/thumbs/blog.png" alt="" title="This is the login page to my blog page. This is where I began learning databases." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/blog2.png"><img src="../public/images/thumbs/blog2.png" alt="" title="This is the home page of my blog" /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/blog3.png"><img src="../public/images/thumbs/blog3.png" alt="" title="This is the settings page of the blog where you can edit your profile." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/blog4.png"><img src="../public/images/thumbs/blog4.png" alt="" title="This is where you can see all posts by user." /></a>
						</div>
						<div class="media all app">
							<a href="../public/images/fulls/clientpanel.png"><img src="../public/images/thumbs/clientpanel.png" alt="" title="This is an angular app login system using firebase." /></a>
						</div>
						<div class="media all app">
							<a href="../public/images/fulls/clientpanel1.png"><img src="../public/images/thumbs/clientpanel1.png" alt=""
								 title="This is the dashboard to the app." /></a>
						</div>
						<div class="media all app">
							<a href="../public/images/fulls/clientpanel2.png"><img src="../public/images/thumbs/clientpanel2.png" alt=""
								 title="Here you can view a client and edit or delete them." /></a>
						</div>
						<div class="media all app">
							<a href="../public/images/fulls/clientpanel3.png"><img src="../public/images/thumbs/clientpanel3.png" alt=""
								 title="This is the edit client form." /></a>
						</div>
						<div class="media all app">
							<a href="../public/images/fulls/clientpanel4.png"><img src="../public/images/thumbs/clientpanel4.png" alt=""
								 title="This is the settings page to the client app." /></a>
						</div>
						<div class="media all app">
							<a href="../public/images/fulls/devlogger.png"><img src="../public/images/thumbs/devlogger.png" alt="" title="This is a tool built using angular and local storage." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/gw.png"><img src="../public/images/thumbs/gw.png" alt="" title="I built this contact page for the church I attend." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/gw1.png"><img src="../public/images/thumbs/gw1.png" alt="" title="Here you can view a map of where the church is." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/gw2.png"><img src="../public/images/thumbs/gw2.png" alt="" title="This shows turn by turn directions to the church based on your location." /></a>
						</div>
						<div class="media all app">
							<a href="../public/images/fulls/imagefinder.png"><img src="../public/images/thumbs/imagefinder.png" alt="" title="This was built using react and the pixabay api." /></a>
						</div>
						<div class="media all app">
							<a href="../public/images/fulls/imagefinder1.png"><img src="../public/images/thumbs/imagefinder1.png" alt=""
								 title="You can search the pixabay library and return the images." /></a>
						</div>
						<div class="media all app">
							<a href="../public/images/fulls/imagefinder2.png"><img src="../public/images/thumbs/imagefinder2.png" alt=""
								 title="This is a full size image returned by the api." /></a>
						</div>
						<div class="media all app">
							<a href="../public/images/fulls/ost.png"><img src="../public/images/thumbs/ost.png" alt="" title="This is my latest creation for the company I currently work for." /></a>
						</div>
						<div class="media all app">
							<a href="../public/images/fulls/ost1.png"><img src="../public/images/thumbs/ost1.png" alt="" title="This is the home page where the user navigates to the page they need." /></a>
						</div>
						<div class="media all app">
							<a href="../public/images/fulls/ost2.png"><img src="../public/images/thumbs/ost2.png" alt="" title="As shown here, the user can select a city they are working on." /></a>
						</div>
						<div class="media all app">
							<a href="../public/images/fulls/ost3.png"><img src="../public/images/thumbs/ost3.png" alt="" title="Here is where the emails are generated based on user input that is sent to the field." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/port.png"><img src="../public/images/thumbs/port.png" alt="" title="This was my very first portfolio." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/port1.png"><img src="../public/images/thumbs/port1.png" alt="" title="This is the about me portion of my first portfolio." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/port2.png"><img src="../public/images/thumbs/port2.png" alt="" title="This is the skills section." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/port3.png"><img src="../public/images/thumbs/port3.png" alt="" title="This was the contact me portion of the portfolio." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/social.png"><img src="../public/images/thumbs/social.png" alt="" title="This was a social app I made while learning angular." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/travel.png"><img src="../public/images/thumbs/travel.png" alt="" title="This was built while learning Html and css." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/travel1.png"><img src="../public/images/thumbs/travel1.png" alt="" title="This is where you can seach for your destination." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/travel2.png"><img src="../public/images/thumbs/travel2.png" alt="" title="This shows some popular places." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/travel3.png"><img src="../public/images/thumbs/travel3.png" alt="" title="This is a section to follow TravelFlow." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/travel4.png"><img src="../public/images/thumbs/travel4.png" alt="" title="This is the contact portion of the TravelFlow site." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/webdev.png"><img src="../public/images/thumbs/webdev.png" alt="" title="This was built while learning html and css." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/webdev1.png"><img src="../public/images/thumbs/webdev1.png" alt="" title="This is the about us page of the web development site." /></a>
						</div>
						<div class="media all web">
							<a href="../public/images/fulls/wordbeater.png"><img src="../public/images/thumbs/wordbeater.png" alt="" title="This was a game I built while learning javascript." /></a>
						</div>

					</div>
				</div>
			</section>

			<!-- Contact -->
			<section id="contact">
				<!-- Social -->
				<div class="social column">
					<h3>About Me</h3>
					<small>
						<bold>Skills</bold>
					</small>
					<p>My name is Jonathan. I am a self taught web dev. I have been actively studying code for almost two years now. I
						started out learning just the basics with Html5 and Css3 and have progressed into Js and larger frameworks such
						as Angular. I also have studied back end devlopment. I have made apps in node.js and .Net core. Despite learning
						all of these technologies I am still not satisfied. I am constantly learning new things and progressing.</p>
					<small>
						<bold>My Personal Life</bold>
					</small>
					<p>Aside from coding, I have a wife and son. I enjoy watching horror movies and <span class="red">ALOT</span> of
						Youtube. As far as music goes I listen to pretty much anything. I have played drums for almost 8 years and guitar
						for about 4 years. I also love reading. I mostly read thrillers but I am always looking for tech books. That is a
						little about me. If you would like to get in contact with me visit my social media or fill out the form to the
						right to send me a message! </p>
					<h3>Follow Me</h3>
					<ul class="icons">
						<li><a href="https://twitter.com/Jmoney0145" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/Drumminforlife" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/baseballsuperstar11/" target="_blank" class="icon fa-instagram"><span
								 class="label">Instagram</span></a></li>
					</ul>
				</div>

				<!-- Form -->
				<div class="column">
					<h3>Get in Touch</h3>
					<div class="error" id="msg">
						<p class="alert alert-error radius" id=""></p>
					</div>
					<form action="/send" method="POST" id="sendForm" name="form1">
						<div class="field half first">
							<label for="name">Name <span class="salmon">*</span></label>
							<input name="name" id="name" type="text" placeholder="Name" value="{{name}}" required>
						</div>
						<div class="field half">
							<label for="email">Email <span class="salmon">*</span></label>
							<input name="email" id="email" type="email" placeholder="Email" {{email}} required>
						</div>
						<div class="field">
							<label for="message">Message <span class="salmon">*</span></label>
							<textarea name="message" id="message" rows="6" placeholder="Message" required></textarea {{message}}>
						</div>
						<ul class="actions">
							<li>
								<div class="g-recaptcha" data-sitekey="6Ldtn38UAAAAACHR-mwP51ojzA9sjmmk4kw8kZMD"></div>
							</li>
							<li><input value="Send Message" class="button" type="submit"></li>
						</ul>
					</form>
				</div>

			</section>

			<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy;<a href="https://www.emerywd.com/">Emery Wed Design</a>.
				</div>
			</footer>
		</section>
	</div>

	<!-- Scripts -->
	<script src="../public/js/jquery.min.js"></script>
	<script src="../public/js/jquery.poptrox.min.js"></script>
	<script src="../public/js/jquery.scrolly.min.js"></script>
	<script src="../public/js/skel.min.js"></script>
	<script src="../public/js/util.js"></script>
	<script src="../public/js/main.js"></script>

</body>

</html>